/* global */
#mainWrap {
	background-color: #f3f3f3;
	width: 100%;
	min-height: 1000px;
	overflow: auto;
}

#container {
	width: 1100px;
	margin: 0px auto;
}

ul {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
}

.focusBorder {
	border: 5px solid #2763ba;
}

/* 예약 구역 헤더 */
.conHeader {
	height: 130px;
	padding-top: 70px;
	margin-bottom: 60px;
}

.title {
	float: left;
	font-size: 40px;
	font-weight: 700;
	margin: 0;
}

.telDiv {
	float: right;
	margin-top: 14px;
}

.telIcon {
	width: 40px;
	height: 40px;
}

.tel {
	font-size: 22px;
	font-weight: 700;
	color: #2763ba;
}

/* 진료과 선택 구역 */
.deptWrap {
	width: 800px;
	height: 310px;
	float: left;
	background-color: #ffffff;
}

/* 검색, 정렬 바 */
.searchBar {
	height: 70px;
	margin-bottom: 10px;
}

.sortRadioDiv {
	float: left;
	margin-left: 40px;
	margin-top: 23px;
}

.form-check-input {
	width: 23px;
	height: 23px;
	margin-right: 5px;
}

.form-check-label {
	margin-right: 15px;
	font-size: 17px;
	vertical-align: middle;
}

.dNameInputDiv {
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}

#searchBtn {
	background-color: #2763ba;
	padding: 0px;
	width: 40px;
	height: 40px;
	border: none;
	float: left;
}

.searchImg {
	width: 23px;
	height: 23px;
}

#dNameInput {
	width: 200px;
	height: 40px;
	float: left;
	border: 1px solid #cccccc;
	padding-left: 5px;
}

#dNameInput:focus {
	outline: none;
}

/* 진료과 목록 */
.deptListDiv {
	width: 750px;
	height: 200px;
	border-top: 2px solid #000000;
	border-bottom: 1px solid #000000;
	margin: 0px auto;
}

/* 진료과 목록 슬라이더 */
.btnPrev {
	float: left;
}

.btnNext {
	float: left;
}

.btnNext,
.btnPrev {
	width: 20px;
	height: 20px;
	border: none;
	background-color: #FFFFFF;
	margin-top: 77px;
}

.arrowIcon {
	width: 25px;
	height: 25px;
}

.sliderWindow {
	width: 700px;
	height: 180px;
	float: left;
	overflow: hidden;
}

.sliderTrack {
	width: 200%;
	height: 180px;
	position: relative;
}

.sliderPage {
	width: 700px;
	float: left;
	padding-left: 70px;
}

.slTab {
	margin-top: 10px;
	font-size: 18px;
}

.slRow {
	height: 60px;
}

.slCol {
	width: 200px;
}

.selectDept {
	color: #2763ba;
	text-decoration: underline;
}

/* 선택한 정보 확인 구역 */
.rsInfoWrap {
	width: 280px;
	height: 310px;
	margin-left: 20px;
	float: right;
	background-color: #2763ba;
	color: #FFFFFF;
}

.rsInfoTitle {
	margin: 0px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: 700;
	width: 220px;
	font-size: 22px;
}

.rsInfoElm {
	width: 220px;
	height: 40px;
	margin: 0px auto;
	font-size: 18px;
}

/* 의료진 목록 */
.doctorListDiv {
	width: 800px;
	height: 870px;
	margin-top: 20px;
	margin-bottom: 100px;
	padding: 30px;
	float: left;
	background-color: #FFFFFF;
	float: left;
	float: left;
}

.doctorListTitle {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 30px;
}

.doctorListMain {
	height: 740px;
	border-top: 2px solid #333333;
	border-bottom: 1px solid #000000;
	border-top: 2px solid #333333;
}

.doctorUl {
	height: 700px;
	overflow: scroll;
	margin-top: 30px;
}

.doctorLi {
	width: 330px;
	height: 230px;
	float: left;
	overflow: hidden;
	padding: 20px 0px;
}

.col {
	border-bottom: 1px solid #cccccc;
	height: 250px;
}

.doctorThumnail {
	width: 110px;
	height: 136px;
	float: left;
}

.doctorInfoDiv {
	float: right;
	width: 190px;
	height: 220px;
}

.doctorName {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}

.searchBlueIcon {
	width: 18px;
	height: 18px;
}

.detail {
	font-size: 16px;
	font-weight: 400;
	color: #666666;
}

.deptName {
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 5px;
}

.selectDoctorBtn {
	width: 110px;
	height: 40px;
	float: left;
	margin-top: 15px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	line-height: 25px;
}

.selectedBtn {
	background-color: #2763ba;
	color: white;
	border: 0;
}

.checkIcon {
	width: 20px;
	height: 20px;
	margin-bottom: 1px;
}

.noResult {
	color: #666666;
	font-size: 20px;
	text-align: center;
	margin: 0;
	height: 740px;
	vertical-align: middle;
	line-height: 740px;
}

/* 진료 일정 */
.scheduleDiv {
	width: 280px;
	height: 870px;
	margin-top: 20px;
	margin-left: 20px;
	float: right;
}

.scheduleCalDiv {
	height: 750px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
}

.scheduleCalTitle {
	font-size: 20px;
	font-weight: 700;
	padding: 30px;
}

.scheduleCal {
	padding: 5px;
}

.moveMonthBar {
	width: 260px;
	height: 50px;
	text-align: center;
	padding: 0px 20px;
}

.prevMonthBtn {
	float: left;
}

.nextMonthBtn {
	float: right;
}
.prevMonthBtn,
.nextMonthBtn {
	border: 0px;
	background-color: #FFFFFF;
	font-size: 30px;
	color: #888888;
}

.nowMonthTitle {
	float:left;
	width: 135px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	font-size: 18px;
	font-weight: 400;
}

.calTab {
	width: 250px;
	min-height: 230px;
	margin: 0px auto;
	font-weight: 400;
	text-align: center;
}

.calTab tr {
	height: 40px;
}

.weekTr th {
	font-weight: 400;
}

.calTab td {
	border: 3px solid #FFF;
}


.available {
	cursor: pointer;
	background-repeat: no-repeat;
    background-position: center;  
    background-size: contain;
    border-radius: 10px;
}

.allDay {
	background-image: url("http://localhost/hospital-reservation/resources/images/appointment/tempdoctor.jpg");
}

.calTab .am {
	background-color: #efbad3;
}

.pm {
	background-color: #ccbfe2;
}

.result {
	color: #666666;
	font-size: 20px;
	text-align: center;
	margin-top: 300px;
}

#appointBtn {
	height: 100px;
	width: 280px;
	border: none;
	background-color: #2763ba;
	font-size: 24px;
	color: #FFFFFF;
}