#mainWrap {
	min-height: 1200px;
	overflow: auto;
}

#content {
	width: 100%;
	height: 500px;
	padding-top: 10px;
}

.hidden{
	display: none;	
}

.contentTop {
	width: 600px;
	height: 80px;
	margin-left: 400px;
	margin-top: 30px;
}

.name {
	border-bottom: 2px solid #CCC;
	float: left;
	line-height: 90px;
	height: 80px;
	margin: 0;
	display: inline-block;
	font-weight: 700;
	font-size: 30px;
}

.contentMain {
	width: 800px;
	height: 420px;
	margin-left: 400px;
}

.position {
	display: inline-block;
	margin-top: 20px;
	font-size: 16px;
}

.major {
	display: inline-block;
	margin: 5px 0px;
	font-size: 14px;
}

.timeTableDiv {
	margin-top: 20px;
}

.timeTable {
	width: 700px;
	margin-top: 10px;
	text-align: center;
	background-color: #FFF;
	font-weight: 500;
}

.typeTd {
	width: 120px;
}

.ampm {
	background-color: #f1f0f1;
}

.timeTable td, .timeTable th {
	border: 1px solid #CCC;
}

.timeTable th {
	background-color: #6a6f78;
	color: #FFF;
	font-weight: 500;
}

.timeTable tr {
	height: 50px;
}

.treatTime {
	width: 15px;
	height: 15px;
	background-color: #0066c9;
	border-radius: 50%;
	display: inline-block;
}

/* 의료진 소개 / 학력,경력 */
#content2 {
	width: 700px;
	margin-left: 400px;
}

.introBtn, .careerBtn {
	width: 350px;
	height: 40px;
	border: none;
	background-color: #fafafa;
	padding: 0;
	float: left;
}

.checked {
	background-color: #072760;
	color: #FFF;
	
}

.introDiv, .careerDiv {
	padding: 30px;
}

.introTitle {
	margin-bottom: 10px;
	display: inline-block;
	color: #0066c9;
}

.bi-stop-circle-fill {
	margin-right: 5px;
}